In [1]:
# Cell 1: Import libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import matplotlib.pyplot as plt

In [2]:
# Cell 2: Create Spark session
spark = SparkSession.builder \
    .appName("NYC Taxi Exploration") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.shuffle.partitions", "8") \
    .master("local[*]") \
    .getOrCreate()

print(f"âœ… Spark {spark.version} started!")
print(f"ðŸ“Š Using {spark.sparkContext.defaultParallelism} cores")

âœ… Spark 3.5.1 started!
ðŸ“Š Using 16 cores

In [3]:
# Cell 3: Load one month of data
df = spark.read.parquet("../data/raw/yellow_tripdata_2024-01.parquet")

print(f"ðŸ“¦ Loaded {df.count():,} rows")
print(f"ðŸ“‹ Columns: {len(df.columns)}")

ðŸ“¦ Loaded 2,964,624 rows
ðŸ“‹ Columns: 19

In [4]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [5]:
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [6]:
df.describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|       RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+
|  count|           2964624|           2824462|           2964624|          2824462|           2824462|           2964624|           2964624|           2964624|           2964624|           2964624|            2964624|           2964624|           2964624|              2964624|           2964624|             2824462|            2824462|
|   mean|1.7542042431013174|1.3392808966805005|3.6521691789583146|2.069359403666964|              NULL|166.01788354948215|165.11671227110082|1.1612707041432573|18.175061916791037|1.4515984320439959| 0.4833823108765226|3.3358700158940002|0.5270212040378977|   0.9756318507844561|26.801504770952707|  2.2561220508542865|  0.141161130863152|
| stddev|0.4325902017036028|0.8502816924800847|225.46257238220082|9.823218952795623|              NULL| 63.62391448741358| 69.31534978524938|0.5808685566109485| 18.94954770590526|1.8041024767538902|0.11776003015379852| 3.896550599806763|2.1283096763989056|  0.21836445772742988|23.385577429672516|  0.8232746699398348|0.48762388723928013|
|    min|                 1|                 0|               0.0|                1|                 N|                 1|                 1|                 0|            -899.0|              -7.5|               -0.5|             -80.0|             -80.0|                 -1.0|            -900.0|                -2.5|              -1.75|
|    max|                 6|                 9|          312722.3|               99|                 Y|               265|               265|                 4|            5000.0|             14.25|                4.0|             428.0|            115.92|                  1.0|            5000.0|                 2.5|               1.75|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+

In [7]:
from pyspark.sql.functions import col, sum as spark_sum
null_count=df.select([
    spark_sum(col(c).isNull().cast("int")).alias(c)
    for c in df.columns
])
null_count.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       0|                   0|                    0|         140162|            0|    140162|            140162|           0|           0|           0|          0|    0|      0|         0|           0|                    0|           0|              140162|     140162|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [8]:
# Cell 8: Data quality checks

# 1. Check trip distance distribution
print("Trip Distance Statistics:")
df.select("trip_distance").summary().show()

# 2. Find suspicious trips
suspicious = df.filter(
    (col("trip_distance") < 0) |  # Negative distance
    (col("trip_distance") > 100) |  # More than 100 miles
    (col("fare_amount") < 0) |  # Negative fare
    (col("passenger_count") < 1) |  # No passengers
    (col("passenger_count") > 6)  # Too many passengers
)

print(f"ðŸš¨ Found {suspicious.count():,} suspicious trips")
suspicious.show(10)

# 3. Check payment types
payment_dist = df.groupBy("payment_type") \
    .count() \
    .orderBy(col("count").desc())

print("Payment Type Distribution:")
payment_dist.show()

# 4. Pickup hour distribution
df_with_hour = df.withColumn(
    "pickup_hour", 
    hour(col("tpep_pickup_datetime"))
)

hourly_trips = df_with_hour.groupBy("pickup_hour") \
    .count() \
    .orderBy("pickup_hour")

hourly_trips.show(24)

Trip Distance Statistics:
+-------+------------------+
|summary|     trip_distance|
+-------+------------------+
|  count|           2964624|
|   mean|3.6521691789583146|
| stddev|225.46257238220082|
|    min|               0.0|
|    25%|               1.0|
|    50%|              1.68|
|    75%|              3.11|
|    max|          312722.3|
+-------+------------------+

ðŸš¨ Found 69,022 suspicious trips
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-01-01 00:30:40|  2024-01-01 00:58:40|              0|          3.0|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        30.4|                 2.5|        0.0|
|       2| 2024-01-01 00:18:24|  2024-01-01 00:30:39|              1|         2.16|         1|                 N|         249|         232|           4|      -13.5| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -18.5|                -2.5|        0.0|
|       1| 2024-01-01 00:49:42|  2024-01-01 00:58:21|              0|          2.9|         1|                 N|          87|          79|           1|       14.9|  3.5|    0.5|       5.0|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-01-01 00:42:26|  2024-01-01 01:12:01|              0|         16.6|         2|                 N|         132|         233|           1|       70.0| 4.25|    0.5|     16.53|        6.94|                  1.0|       99.22|                 2.5|       1.75|
|       1| 2024-01-01 00:38:18|  2024-01-01 01:01:12|              0|          2.5|         1|                 N|          90|         229|           1|       17.0|  3.5|    0.5|       5.5|         0.0|                  1.0|        27.5|                 2.5|        0.0|
|       1| 2024-01-01 00:26:21|  2024-01-01 00:38:03|              0|          3.4|         1|                 N|         137|         263|           1|       15.6|  3.5|    0.5|      2.06|         0.0|                  1.0|       22.66|                 2.5|        0.0|
|       1| 2024-01-01 00:38:43|  2024-01-01 00:51:53|              0|          2.6|         1|                 N|         263|         170|           1|       14.9|  3.5|    0.5|      3.95|         0.0|                  1.0|       23.85|                 2.5|        0.0|
|       2| 2024-01-01 00:04:00|  2024-01-01 00:04:44|              1|         0.01|         5|                 N|          63|          63|           2|      -31.5|  0.0|    0.0|       0.0|         0.0|                 -1.0|      -34.25|                 0.0|      -1.75|
|       2| 2024-01-01 00:41:42|  2024-01-01 00:46:00|              1|         0.47|         1|                 N|         249|         113|           4|       -5.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -10.8|                -2.5|        0.0|
|       2| 2024-01-01 00:42:02|  2024-01-01 01:14:33|              1|         5.48|         1|                 N|         107|          61|           2|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

Payment Type Distribution:
+------------+-------+
|payment_type|  count|
+------------+-------+
|           1|2319046|
|           2| 439191|
|           0| 140162|
|           4|  46628|
|           3|  19597|
+------------+-------+

+-----------+------+
|pickup_hour| count|
+-----------+------+
|          0| 79094|
|          1| 53627|
|          2| 37517|
|          3| 24811|
|          4| 16742|
|          5| 18764|
|          6| 41429|
|          7| 83719|
|          8|117209|
|          9|128970|
|         10|138778|
|         11|150542|
|         12|164559|
|         13|169903|
|         14|182898|
|         15|189359|
|         16|190201|
|         17|206257|
|         18|212788|
|         19|184032|
|         20|159989|
|         21|160888|
|         22|143261|
|         23|109287|
+-----------+------+